Repository kartoza/InfrastructureMapper: changes, and which pre-commit hooks are due for each by the changed paths.
All: ensure-utf8-encoding, ensure-google-docstrings, test-count-feedback, nixfmt, markdownlint, cspell, yamllint, actionlint, bandit-sql, bandit-scripts, semgrep-sql, semgrep-scripts, codeql, add-spdx-headers, snyk, pylint, codecov

ensure-utf8-encoding:
  name: 🌐 Ensure UTF-8 encoding declaration in Python files
  entry: bash scripts/encoding_check.sh
  language: system
  stages:
  - pre-commit

ensure-google-docstrings:
  name: 📚 Ensure Google-style docstrings in Python modules
  entry: bash scripts/docstrings_check.sh
  language: system
  stages:
  - pre-commit

test-count-feedback:
  name: 🧪 Test Count Feedback
  entry: python scripts/commit_test_stats.py
  language: system
  stages:
  - pre-commit

nixfmt:
  name: ❄️ Nixfmt (RFC style)
  description: Format Nix code with nixfmt-rfc-style
  entry: nixfmt
  language: system
  args:
  - --

markdownlint:
  name: 📝 markdownlint - Markdown linter
  entry: markdownlint
  language: system
  stages:
  - pre-commit

cspell:
  name: 🔤 cspell - Spell checker for Markdown
  entry: cspell --no-progress --no-summary
  language: system
  stages:
  - pre-commit

yamllint:
  name: 🔍 yamllint - YAML linter
  entry: yamllint
  language: system
  stages:
  - pre-commit

actionlint:
  name: 🤖 actionlint - GitHub Actions workflow linter
  entry: actionlint
  language: system
  stages:
  - pre-commit

bandit-sql:
  name: 🔒 Bandit - Python security analysis
  entry: bandit -r sql
  language: system
  stages:
  - pre-commit

bandit-scripts:
  name: 🔒 Bandit - Python security analysis
  entry: bandit -r scripts
  language: system
  stages:
  - pre-commit

semgrep-sql:
  name: 🔍 Semgrep - Static analysis
  entry: semgrep --config=auto sql
  language: system
  stages:
  - pre-commit

semgrep-scripts:
  name: 🔍 Semgrep - Static analysis
  entry: semgrep --config=auto scripts
  language: system
  stages:
  - pre-commit

codeql:
  name: 🧬 CodeQL - Code analysis
  entry: codeql database analyze ./codeql-db codeql/python-queries
  language: system
  stages:
  - pre-commit

add-spdx-headers:
  name: 📄 Add SPDX headers if missing
  entry: scripts/add_spdx_headers.sh
  language: script
  stages:
  - pre-commit

snyk:
  name: 🕵️ Snyk - Vulnerability scanner
  entry: snyk test
  language: system
  stages:
  - pre-commit

pylint:
  name: 🦉 Pylint - Python linter
  entry: pylint .
  language: system
  stages:
  - pre-commit

codecov:
  name: 📊 Codecov - Coverage reporting
  entry: codecov-cli
  language: system
  stages:
  - pre-commit

Fix CI: migrate to flake-pinned tools, bootstrap-aware immutability hook
  .github/workflows/MarkdownChecks.yml
  .github/workflows/PythonChecks.yml
  .github/workflows/SQLChecks.yml
  .gitignore
  .markdownlint.yaml
  scripts/check_schema_immutability.sh
  sql/0-meta.sql
  sql/13-roads.sql
  sql/migrations/gpkg/UNRELEASED.sql
  sql/migrations/pg/UNRELEASED.sql
Due: yamllint, actionlint, add-spdx-headers

Fix CI: pin to nix-installer-action@v22, drop magic-nix-cache
  .github/workflows/MarkdownChecks.yml
  .github/workflows/PythonChecks.yml
  .github/workflows/SQLChecks.yml
Due: yamllint, actionlint, add-spdx-headers

Make the schema tooling discoverable
  .exrc
  .nvim.lua
  README.md
  cspell.config.yaml
  flake.nix
Due: nixfmt, markdownlint, cspell, yamllint, add-spdx-headers

Make pre-commit / pre-push catch what CI catches
  .pre-commit-config.yaml
  flake.nix
  scripts/check_schema_immutability.sh
  sql/1-infrastructure.sql
  sql/3-water.sql
  sql/fixtures.sql
Due: nixfmt, yamllint, add-spdx-headers

Migrate docs site + dev shell to the Kartoza Brand Pack v0.1
  .gitignore
  README.md
  REUSE.toml
  cspell.config.yaml
  docs/about/design.md
  docs/assets/brand/favicon.png
  docs/assets/brand/kartoza-appicon-512.png
  docs/assets/brand/kartoza-logo-horizontal-color.png
  docs/assets/brand/kartoza-logo-vertical-color.svg
  docs/assets/brand/kartoza-logo-vertical-reversed.png
  docs/assets/brand/kartoza-motif.png
  docs/assets/brand/kartoza-palette.png
  docs/assets/brand/kartoza-status-colours.png
  docs/assets/brand/kartoza-symbol-color.svg
  docs/assets/brand/kartoza-symbol.png
  docs/assets/brand/slant-divider-background.png
  docs/assets/brand/slant-title-background.png
  docs/assets/brand/tokens.json
  docs/assets/design-collage.png
  docs/assets/favicon.png
  docs/assets/logo-horizontal.png
  docs/assets/logo-mark.png
  docs/assets/swatch.png
  docs/index.md
  docs/stylesheets/extra.css
  docs/stylesheets/kartoza-tokens.css
  mkdocs.yml
  scripts/add_spdx_headers.sh
  scripts/welcome.sh
Due: markdownlint, cspell, yamllint, add-spdx-headers

Fix landing page render + redesign domain icons as small compositions
  docs/assets/brand/icons/buildings.svg
  docs/assets/brand/icons/culinary.svg
  docs/assets/brand/icons/electricity.svg
  docs/assets/brand/icons/fencing.svg
  docs/assets/brand/icons/gates.svg
  docs/assets/brand/icons/infrastructure.svg
  docs/assets/brand/icons/landuse.svg
  docs/assets/brand/icons/monitoring.svg
  docs/assets/brand/icons/poi.svg
  docs/assets/brand/icons/poles.svg
  docs/assets/brand/icons/roads.svg
  docs/assets/brand/icons/vegetation.svg
  docs/assets/brand/icons/water.svg
  docs/index.md
  docs/stylesheets/extra.css
Due: markdownlint, cspell, add-spdx-headers

Fix CTA visibility, shrink domain icon headers, move docs-gen prose
  cspell.config.yaml
  docs/data-model/01-infrastructure.md
  docs/data-model/02-electricity.md
  docs/data-model/03-water.md
  docs/data-model/04-vegetation.md
  docs/data-model/05-monitoring.md
  docs/data-model/06-buildings.md
  docs/data-model/07-fencing.md
  docs/data-model/08-poi.md
  docs/data-model/09-landuse.md
  docs/data-model/10-gates.md
  docs/data-model/11-poles.md
  docs/data-model/12-culinary.md
  docs/data-model/13-roads.md
  docs/data-model/index.md
  docs/developer-guide/contributing.md
  docs/stylesheets/extra.css
Due: markdownlint, cspell, yamllint, add-spdx-headers

Restructure Getting Started for end users (not contributors)
  README.md
  cspell.config.yaml
  docs/developer-guide/dev-shell.md
  docs/developer-guide/index.md
  docs/developer-guide/local-build.md
  docs/getting-started/field-workflow.md
  docs/getting-started/geopackage.md
  docs/getting-started/index.md
  docs/getting-started/postgres.md
  mkdocs.yml
Due: markdownlint, cspell, yamllint, add-spdx-headers

Build composite and per-domain release artifacts on every PR / push / tag
  .github/workflows/Artifacts.yml
  .github/workflows/Release.yml
  cspell.config.yaml
  docs/developer-guide/contributing.md
  docs/developer-guide/scripts.md
  docs/getting-started/geopackage.md
  docs/getting-started/postgres.md
  flake.nix
  scripts/build_artifacts.py
  scripts/build_artifacts.sh
  scripts/schema_diff.py
  scripts/welcome.sh
Due: ensure-utf8-encoding, ensure-google-docstrings, test-count-feedback, nixfmt, markdownlint, cspell, yamllint, actionlint, bandit-sql, bandit-scripts, semgrep-sql, semgrep-scripts, codeql, add-spdx-headers, snyk, pylint, codecov

Add stable -latest download URLs and surface them in README + docs
  .github/workflows/Release.yml
  README.md
  REUSE.toml
  bearer.ignore
  docs/getting-started/geopackage.md
  docs/getting-started/index.md
  docs/getting-started/postgres.md
  docs/index.md
Due: markdownlint, cspell, yamllint, actionlint, add-spdx-headers

Fix per-domain GPKG slicing: SQLite needs single-quoted string literals
  scripts/build_artifacts.py
Due: ensure-utf8-encoding, ensure-google-docstrings, test-count-feedback, bandit-sql, bandit-scripts, semgrep-sql, semgrep-scripts, codeql, add-spdx-headers, snyk, pylint, codecov

Ignore .claude/ metadata so REUSE doesn't trip on local settings
  .gitignore
Due: none

Release v0.2.0
  VERSION
  sql/migrations/gpkg/v0.2.0.sql
  sql/migrations/pg/v0.2.0.sql
Due: add-spdx-headers

Include regenerated schema docs in v0.2.0 release
  docs/data-model/01-infrastructure.md
  docs/data-model/02-electricity.md
  docs/data-model/03-water.md
  docs/data-model/04-vegetation.md
  docs/data-model/05-monitoring.md
  docs/data-model/06-buildings.md
  docs/data-model/07-fencing.md
  docs/data-model/08-poi.md
  docs/data-model/09-landuse.md
  docs/data-model/10-gates.md
  docs/data-model/11-poles.md
  docs/data-model/12-culinary.md
  docs/data-model/13-roads.md
Due: markdownlint, cspell, add-spdx-headers

Rework release.sh to two-step PR-friendly flow + ignore .claude/
  .gitignore
  docs/about/specification.md
  docs/developer-guide/scripts.md
  docs/schema-lifecycle/migrations.md
  docs/schema-lifecycle/release.md
  docs/schema-lifecycle/versioning.md
  scripts/release.sh
  scripts/welcome.sh
Due: markdownlint, cspell, add-spdx-headers

Release v0.1.1
  VERSION
  docs/data-model/01-infrastructure.md
  docs/data-model/02-electricity.md
  docs/data-model/03-water.md
  docs/data-model/04-vegetation.md
  docs/data-model/05-monitoring.md
  docs/data-model/06-buildings.md
  docs/data-model/07-fencing.md
  docs/data-model/08-poi.md
  docs/data-model/09-landuse.md
  docs/data-model/10-gates.md
  docs/data-model/11-poles.md
  docs/data-model/12-culinary.md
  docs/data-model/13-roads.md
  sql/migrations/gpkg/v0.1.1.sql
  sql/migrations/pg/v0.1.1.sql
Due: markdownlint, cspell, add-spdx-headers

Release v0.2.0
  VERSION
  docs/data-model/01-infrastructure.md
  docs/data-model/02-electricity.md
  docs/data-model/03-water.md
  docs/data-model/04-vegetation.md
  docs/data-model/05-monitoring.md
  docs/data-model/06-buildings.md
  docs/data-model/07-fencing.md
  docs/data-model/08-poi.md
  docs/data-model/09-landuse.md
  docs/data-model/10-gates.md
  docs/data-model/11-poles.md
  docs/data-model/12-culinary.md
  docs/data-model/13-roads.md
  sql/migrations/gpkg/v0.2.0.sql
  sql/migrations/pg/v0.2.0.sql
Due: markdownlint, cspell, add-spdx-headers

Fix schema-diff base-bundle glob picking per-domain slice
  .github/workflows/Artifacts.yml
  .github/workflows/Release.yml
Due: yamllint, actionlint, add-spdx-headers

Migrate remaining CI workflows to nix develop
  .github/workflows/LicenseChecks.yml
  .github/workflows/LoadSchema.yml
  .github/workflows/PythonChecks.yml
  .github/workflows/QAChecks.yml
  .github/workflows/SchemaImmutability.yml
  .github/workflows/SpellCheck.yml
  .github/workflows/YamlChecks.yml
  flake.nix
Due: nixfmt, yamllint, actionlint, add-spdx-headers

Split devShell: minimal for linters, default for full dev
  .github/workflows/LicenseChecks.yml
  .github/workflows/MarkdownChecks.yml
  .github/workflows/PythonChecks.yml
  .github/workflows/QAChecks.yml
  .github/workflows/SQLChecks.yml
  .github/workflows/SchemaImmutability.yml
  .github/workflows/SpellCheck.yml
  .github/workflows/YamlChecks.yml
  flake.nix
Due: nixfmt, yamllint, actionlint, add-spdx-headers

Path conditions:
  ensure-utf8-encoding: any of: \.py$
  ensure-google-docstrings: any of: \.py$
  test-count-feedback: any of: \.py$
  nixfmt: any of: \.nix$
  markdownlint: any of: \.(md|markdown|mdown)$
  cspell: any of: \.(md|markdown|mdown)$
  yamllint: any of: \.(yaml|yml)$
  actionlint: any of: ^\.github/workflows/.*\.ya?ml$ and \.(yaml|yml)$
  bandit-sql: any of: \.py$
  bandit-scripts: any of: \.py$
  semgrep-sql: any of: \.py$
  semgrep-scripts: any of: \.py$
  codeql: any of: \.py$
  add-spdx-headers: any of: \.(py|sh|sql|md|yaml|yml|json|nix|txt|toml|conf|env)$
  snyk: any of: \.py$
  pylint: any of: \.py$
  codecov: any of: \.py$
