Repository kartoza/InfrastructureMapper: changes, and which pre-commit hooks are due for each by the changed paths.
All: ensure-utf8-encoding, ensure-google-docstrings, test-count-feedback, nixfmt, markdownlint, cspell, yamllint, actionlint, bandit-sql, bandit-scripts, semgrep-sql, semgrep-scripts, codeql, add-spdx-headers, snyk, pylint, codecov

Path conditions:
  ensure-utf8-encoding: any of: \.py$
  ensure-google-docstrings: any of: \.py$
  test-count-feedback: any of: \.py$
  nixfmt: any of: \.nix$
  markdownlint: any of: \.(md|markdown|mdown)$
  cspell: any of: \.(md|markdown|mdown)$
  yamllint: any of: \.(yaml|yml)$
  actionlint: any of: ^\.github/workflows/.*\.ya?ml$ and \.(yaml|yml)$
  bandit-sql: any of: \.py$
  bandit-scripts: any of: \.py$
  semgrep-sql: any of: \.py$
  semgrep-scripts: any of: \.py$
  codeql: any of: \.py$
  add-spdx-headers: any of: \.(py|sh|sql|md|yaml|yml|json|nix|txt|toml|conf|env)$
  snyk: any of: \.py$
  pylint: any of: \.py$
  codecov: any of: \.py$

Applying feedback on presentation
  img/culinaryfacilities-results1.png
Due: none

Applying feedback on presentation
  img/culinaryfacilities-results2.png
Due: none

Applying feedback on presentation
  img/hefni-bobross.png
Due: none

Applying feedback on presentation
  img/hefni-scratchmit.png
Due: none

Applying feedback on presentation
  img/hefni-simpleafricamap.png
Due: none

Add license
  LICENSES/license.txt
Due: add-spdx-headers

Applying feedback on presentation
  img/culinaryfacilities-collection.png
Due: none

Applying feedback on presentation
  presentations/3-culinaryfacilities.md
Due: markdownlint, cspell, add-spdx-headers

Fix: PR check errors
  presentations/13-roads.md
Due: markdownlint, cspell, add-spdx-headers

Fix: PR check errors 2
  cspell.json
  img/roads-collection.png
  img/roads-erd.png
  img/roads-field.png
  img/roads-forms-add.png
  img/roads-forms-desktop.png
  img/roads-model-1.png
  img/roads-model-2.png
  img/roads-model.png
  img/roads-other-1.png
  img/roads-other-2.png
  img/roads-results-1.png
  img/roads-results-2.png
  img/roads-workflow.png
Due: add-spdx-headers

Add: roads fixtures
  sql/14-lamps.sql
Due: add-spdx-headers

Corrcted spelling mistaked on schema
  diagrams/Schema.drawio
  sql/15-pollution.sql
Due: add-spdx-headers

Added sql script and updated schema
  diagrams/Schema.drawio
  sql/15-pollution.sql
Due: add-spdx-headers

[Add: SQL data for healthcare facilities and fixtures]
  sql/14-health.sql
  sql/fixtures.sql
Due: add-spdx-headers

Add geometry column to healthcare_facility table
  sql/14-health.sql
Due: add-spdx-headers

Fix geometry ( bracket space.
  sql/14-health.sql
Due: add-spdx-headers

Updated sql
  sql/15-pollution.sql
Due: add-spdx-headers

final sql update
  sql/15-pollution.sql
Due: add-spdx-headers

final sql update after testing
  sql/15-pollution.sql
Due: add-spdx-headers

[Fix: SQL data for healthcare facilities and fixtures]
  sql/14-health.sql
  sql/fixtures.sql
Due: add-spdx-headers

Updated pollution sql and schema
  diagrams/Schema.drawio
  sql/15-pollution.sql
Due: add-spdx-headers

Add: pollution fixtures
  sql/fixtures.sql
Due: add-spdx-headers

Add: Script added to load_schema.sh
  scripts/load_schema.sh
Due: add-spdx-headers

Fix: Fixed fixtures naming error
  sql/fixtures.sql
Due: add-spdx-headers

Fix: Fixed spelling error
  sql/fixtures.sql
Due: add-spdx-headers

Fix: Spelling error
  sql/fixtures.sql
Due: add-spdx-headers

[Fix] Update healthcare SQL tables
  sql/14-health.sql
Due: add-spdx-headers

Update: health facilities SQL file
  sql/14-health.sql
Due: add-spdx-headers

Update: Health Facilities SQL
  sql/14-health.sql
Due: add-spdx-headers

Unify CRS to EPSG:4326 in roads baseline before schema freeze
  sql/13-roads.sql
Due: add-spdx-headers

Add schema lifecycle: immutable baseline, versioned migrations, release pipeline
  .github/workflows/Release.yml
  .github/workflows/SchemaImmutability.yml
  .gitignore
  .pre-commit-config.yaml
  README.md
  SPECIFICATION.md
  VERSION
  cspell.config.yaml
  cspell.json
  flake.nix
  scripts/build_gpkg.sh
  scripts/check_schema_immutability.sh
  scripts/generate_schema_docs.py
  scripts/migrate_gpkg.py
  scripts/migrate_pg.sh
  scripts/release.sh
  sql/0-meta.sql
  sql/1-infrastructure.md
  sql/10-gates.md
  sql/11-poles.md
  sql/12-culinary.md
  sql/13-roads.md
  sql/2-electricity.md
  sql/3-water.md
  sql/4-vegetation.md
  sql/5-monitoring.md
  sql/6-buildings.md
  sql/7-fencing.md
  sql/8-poi.md
  sql/9-landuse.md
  sql/migrations/README.md
  sql/migrations/gpkg/UNRELEASED.sql
  sql/migrations/pg/UNRELEASED.sql
Due: ensure-utf8-encoding, ensure-google-docstrings, test-count-feedback, nixfmt, markdownlint, cspell, yamllint, actionlint, bandit-sql, bandit-scripts, semgrep-sql, semgrep-scripts, codeql, add-spdx-headers, snyk, pylint, codecov
